<nav class="navbar navbar-light bg-light">
    <h4>Bem Vindo ao GestaoEdu</h4>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="#" class="btn btn-outline-dark btn-sm m-1"> <i class="fas fa-folder"></i> Permutas</a>
            <a href="#" class="btn btn-outline-dark btn-sm m-1"> <i class="fa-solid fa-book"></i> Diários</a>
            <a href="#" class="btn btn-outline-dark btn-sm m-1"> <i class="fas fa-user-tie"></i> Professores</a>
            <a href="#" class="btn btn-outline-dark btn-sm m-1"> <i class="fas fa-layer-group"></i> Turmas</a>
            <a href="#" class="btn btn-outline-dark btn-sm m-1"> <i class="fas fa-graduation-cap"></i> Cursos</a>
        </li>
    </ul>
</nav>

<div class="row mt-2 mx-0">

    <div class="col-sm-3">
        <div class="border border-1 rounded-2 bg-light p-2">
            <img src="img/semfoto.png" class="w-50 mx-auto rounded-circle d-flex align-content-center">

            <h4 class="text-center mt-3">{{usuario.professor.nome}}</h4>
            <h5 class="text-center mt-2">SIAPE: {{usuario.username}}</h5>
            <h5 class="text-center mt-2">E-MAIL: {{usuario.professor.email}}</h5>
            <h5 class="text-center mt-2">CATEGORIA: {{categoriaUsuario usuario.categoria}}</h5>

        </div>

    </div>

</div>