<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
            <span>
            <a class="navbar-brand" href="#">
                GestaoEdu
            </a>
            </span>
        <a href="/usuario/login" class="btn btn-outline-dark"><i class="fa-solid fa-key"></i> Login</a>
    </div>
</nav>

<script>
    function sair(){
        if(confirm('Tem certeza que deseja sair?')){
            window.location.href = '/usuario/logout'
        }
    }
</script>