<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GestaoEdu</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link href="/css/padrao.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid p-0 m-0">
        {{>msg}}
        {{{body}}}
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>