<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>GestaoEdu</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid p-0">
    {{>nav-principal}}
    {{>msg}}
    {{{body}}}
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/script.js"></script>

</body>
</html>