<div class="container">
    <div class="d-flex justify-content-between py-2">
        <h5>MODALIDADES</h5>
        <a href="/evento/aluno" class="btn btn-sm btn-secondary">Alunos Inscritos</a>
    </div>


    <table class="table table-striped">
        <tr>
            <th>DESCRIÇÃO</th>
            <th>TIPO</th>
            <th></th>
        </tr>
        {{#each modalidades}}
            <tr>
                <td>{{descricao}}</td>
                <td>
                    {{#if (igual tipo 1)}}
                        Coletiva
                    {{else}}
                        Individual
                    {{/if}}
                </td>
                <td>
                    <a href="/evento/lista/{{id}}" class="btn btn-sm btn-primary">Abrir</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>