<div class="container">

    <div class="row">
        <div class="col-md-5 mx-auto shadow p-3 mt-3 rounded">
            <h5 class="text-center">Alterar Senha</h5>
            <form method="post" action="/usuario/alterarsenha">

                <label>NOVA SENHA</label>
                <input name="senha1" type="password" class="form-control mb-2" required>

                <label>REPITA A SENHA</label>
                <input name="senha2" type="password" class="form-control" required>

                <button class="btn btn-success mt-3">Alterar Senha</button>
            </form>
        </div>
    </div>
</div>