<div class="container-sm">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h4>Cursos</h4>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ms-2">
                        <a href="/principal" class="btn btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th>DESCRIÇÃO</th>
            <th>COORDENADOR</th>
        </tr>

        {{#each cursos}}
            <tr>
                <td>{{descricao}}</td>
                <td>{{professor.nome}}</td>
            </tr>
        {{/each}}

    </table>

</div>